*{
   font-family: "inter";
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
 min-height: 100vh;
    
}
header{
    background-color:#F3FCF7;
    height: auto;
   

}

.navbar{
    position: sticky;
    z-index: 1000;
    top: 0;
    padding-bottom: 20px;
    background-color: #F3FCF7;
    padding:20px ;
   
}
.navbar-container{
    display: flex;
    align-items: center;
}
.nav-left{
}

.nav-title{
    font-size: 20px;
    color: #06C167;
    margin: 0 1rem;
}
/* It swill auto adjust the right side of the nav , and ve responsive */
.nav-right{
    margin-left: auto;}
.nav-item-container{
    display: flex;
    flex-wrap: wrap;
}
.nav-items{
    list-style-type: none;
    margin: 1rem;
}
.nav-items-links{
    text-decoration: none;
    color: black;
}
.nav-items-links:hover{
    color: #06C167;
}

@media(max-width:665px){
    .navbar-container{
    display: block;
}
.nav-item-container{
    padding: 0;
}
}

/* Hero Section */
.hero-left{
    text-align: center;
}
.hero-right{
    display: flex;
   justify-content: center;
}
.hero-h1{
    margin-top: 1rem;
}
.hero-description{
    margin-top: 2rem;
}
.hero-btn{
    margin-top: 2rem;
    padding:25px 140px;
    background-color: #06C167;
    border: none;
    color: white;
}
.hero-image{
    margin-top: 1rem;
    position: relative;
    transform: translateY(50px);
}
.hero{
    display: block;
    height:469.82px ;
    width:320.01px ;
}
.label{
    position: absolute;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
    z-index: 2;
}
.ratings{
    left: 15%;
    bottom: 15%;
padding: 15px 20px;
}
.quality{
    left: 15%;
    bottom: 0%;
    padding: 10px 15px;
    box-shadow: 9px 3px 16px 0px rgba(0,0,0,0.7);
-webkit-box-shadow: 9px 3px 16px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 9px 3px 16px 0px rgba(0,0,0,0.7);
}
.hero-dot{
    position: absolute;
   z-index: 1;
   bottom: 0;
   right: 0;
}


/* Brand Section */
.brand-container{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;

}

.brand-top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
/* .brand-container img{
   display: block;
} */

/* feature section */
.features{
    margin-top: 4rem;
     border-top: 1px solid #b5b7b6;
   border-bottom:1px solid #b5b7b6 ;
}
.features-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
   gap: 2rem;  

}
.feature {
    text-align: center;
    gap: 1.25rem;
}

.feature img{
    background-color: #F3FCF7;
    padding: 10px;
}
.feature-heading{
    font-weight: 450;
    line-height: 18px;
}

/* Benefit Section */
.benefit-container{
    margin-top: 7rem;
    
}
.benefit-left{
    display: flex;
    justify-content: center;
}
.benefit-image{
    padding: 15px;
    background-color:#F0F1EC;
    img{
   height:417px ;
   width: 274px;
   transform: translateY(-50px);
   }
  
}
.benefit-right{
display: flex;
justify-content: center;
margin-top:2rem;
}
.benefit-text{
    text-align: center;
    margin-top: 1rem;
    background-image: url(./img/Polcadot.png);
    background-repeat: no-repeat;
    
    background-size: 174px5;
    
}
.benefit-head{

}
.benefit-title{
    margin-top: 1rem;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}
.benefit-list{
    margin-top: 3rem;
    list-style: none;
}
.benefit-item{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

/* star Section */
.star-container{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;

}
.star-right{
    display: flex;
    justify-content: center;
    order: 1;
}
.star-image{
       
    background-color:#F0F1EC;
}
.star{
   
    width:320px ;
    padding-left: 15px;
    padding-right: 15px;
     transform: translateY(-30px);
}

.star-left{
    order: 2;
    text-align: center;
}
.star-head{
    text-align: center;
    margin-top: 1rem;
}
.star-title{
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
    line-height: 40px;
    font-size: 35px;
}
.star-info{
    margin-top: 2rem;
}
.product{
    text-align: center;
    margin-bottom: 2rem;
}
.product h3{
    color:#06C167 ;
}
.product p{
    font-weight: 200;
}
.star-btn{
    
    padding:25px 120px;
    background-color: #06C167;
    border: none;
    color: white;
}

/* Varieties Section */

.varieties-container{
    margin-top: 7rem;
    
}
.varieties-text{
    text-align: center;
}
.varieties-title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 40px;
    font-size: 35px;
}
.varieties-sub-container{
    margin-top: 2rem;
}
.varieties{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.varieties-image{
        max-width: 100%;
    height: auto;
    
    display: block;
    }
    .varieties-image{
         
}
.desc-two , .desc-four{
        order:2 ;
    }
.img-two, .img-four{
    order: 1;
}
.varieties-description{
    justify-content: center;
    text-align: center;
    background-color: #F0F1EC;
    border: 1px solid #06C167;
    padding: 30px 70px 60px 70px;
    text-align: start;

    
}
.varieties-description-heading{
    
    margin-top: 2rem;
}
.varieties-description-para{
   
    margin-top: 2rem;
}
.varieties-btn{
    border-color: transparent;
    color: #06C167;
    background-color:#F0EDE2 ;
      margin-top: 2rem;
    padding: 5px 35px 5px 7px ;
}

/* Product Section */
.pop-product-container{
   margin-top: 7rem; 
   
}
.pop-product-text{
    text-align: center;
}
.pop-product-head{
    font-size: 12px;
}
.pop-product-title{
    font-size: 40px;
    font-weight: 500;
}
.pop-product-sub-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.pop-product{
      border:1px solid #06C167;
      padding: 25px;
}
.pop-product-image-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pop-product-image-section img{
    display: block;
}
.hero-product{
    display: block;
}
.pop-product-description{
    margin-top: 1rem;
    text-align: center;
    h4{
        font-weight: 400;
    }
}
del{
    font-weight: 200;
}
.pop-price{
    margin-top: 1rem;
}
.pop-buy{
    margin-top: 1rem;
    padding: 1rem 4rem 1rem 4rem;
    background-color: transparent;
    border:1px solid #06C167;
}


/* Veggie Section */
.veggie-container{
    height: 50vh; 
    width: 100%;
    margin-top: 7rem;
    margin-bottom: 5rem;
    background-image: url(./img/vaggie-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
    display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
  
}
.veggie-title{
    margin-top: 7rem;
    font-size: 50px;
    color: white;
    font-weight: 500;

}
.veggie-btn{
    margin-top: 3rem;
     padding: 1rem 4rem 1rem 4rem;
    background-color:#06C167;
   color: white;
   border: none;
}
/* Contact Section */
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:60px ;
}

.foodies{
    text-align: center;
}
.foodies-title{
    color: #06C167;
}
.foodies-para{
    margin-top: 1rem;
}
.social-media{
 margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



.about-list{
     margin-top: 1rem;
    list-style: none;
}
.about-item{
    margin-top: 0.5rem;
}


.company-list{
     margin-top: 1rem;
    list-style: none;
}
.company-item{
     margin-top: 0.5rem;
}



.touch{
    text-align: center;
}
.touch-para{
     margin-top: 1rem;
}
form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.input-field{
    height: 3rem;
}
.company-btn{
    padding: 8px 65px;
    background-color: #06C167;
    border: none;
    color: white;
}

/* footer section */
footer{
    margin-top: 4rem;
    text-align: center;
}
/* Keep the contents in the center */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 992px){
    .container{
        max-width: 960px;}
    .hero-container{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
    .hero-right{
     
    }
    .hero-left{
        margin-top: 4rem;
        text-align: justify;
    }
    .brand-container{
      justify-content: start;
      flex-direction: row;
      margin-top: 2em;
    }
    .features-container{
           display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    padding-left:0;
    }
    .feature{
        display: flex;
        align-items: center;
        margin-left: 0;
        text-align: start;
    }
    .benefit-container{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
    }

    
    .star-container{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
    .star-left{
        text-align: start;
        order: 1;
    }
    .star-head{
    text-align:start;
}
.star-title{
    text-align: start;
}
.star-info{
    
    display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
       justify-items: start;
}
.product{
    text-align: center;
    margin-bottom: 2rem;
}
.product h3{
    text-align: start;
    color:#06C167 ;
}
.product p{
    font-weight: 200;
}

    .star-right{
        order: 2;
    }
    .star-image{
       
    background-color:transparent;
}
.star{
    padding: 0 0 50px 50px;
    background-color:#F0F1EC;
    transform: none;
}


.varieties{
    align-items:normal;
}
.varieties-sub-container{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 0px;
}
.desc-two , .desc-four{
        order:1 ;
    }
.img-two, .img-four{
    order: 2;
}


.varieties-description{
    text-align: start;
    /* padding: 70px; */
    padding-bottom: 20px;
  
    
    }




.pop-product-sub-container{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
}
.pop-product-text{
    text-align: start;
}





.contact-container{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    align-items: normal;
}
.foodies-para, .touch-para{
    text-align: start;
}
.social-media{
    justify-content: start;
}
form{
    flex-direction: row;
}
.company-btn{
    padding: 16px 20px;
}
}






@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}
@media (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
 
}




